* {
    word-wrap: break-word;
}
body {
    background-color: #d9edf7;
}
.btn {
    word-wrap: break-word;
    line-height: 24px;
    padding: 18px 18px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}
.btn:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
.btn-block {
    text-align: left;
    position: relative
}
.btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,.15);
    height: 100%
}
.modal-header {
    word-wrap: break-word;
    background-color: transparent;
    color: inherit
}
.modal-footer .btn, 
#submit {
    padding: 7px 3px;
    margin-top: 0;   
    width: 25%;
}
.selected {    
    background-color: #286090;
    border-color: #122b40;    
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    font-size: 20px;
    line-height: 24px;
    -webkit-box-shadow: inset 5px 5px 15px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: inset 5px 5px 15px 0px rgba(0,0,0,0.51);
    box-shadow: inset 5px 5px 15px 0px rgba(0,0,0,0.51)
}
#previous, 
#next, 
#show_results, 
#save_results, 
#start_over, 
#submit, 
#saved_results {
    text-align: center;
}
#previous, 
#start_over {
    float: left;
    clear: left;
}
#next, 
#show_results, 
#save_results, 
#saved_results {
    float: right;
    clear: right;
}
.wrong {
    color: red;
}
#result_table {
    overflow: auto;
}
#results {
    font-weight: 600;    
}
#submit_results input {
    margin-bottom: 10px;
}
#saved_results {
    width: 40%;
}